body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* 

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.Navbar{
  width: 100%;
  display: flex;
  align-items: center;
}

.searchBar{
  display: flex;
  align-items: center;
  background-color: #e9ecef;
  width: 300px;
  height: 40px;
  border-radius: 8px;
  padding-left: 10px;
}

.searchBar input{
  height: inherit;
  margin: 0;
  height: 35px;
  width: 280px;
  outline: none;
  border: none;
  font-size: 16px;
  color: #6c757d;
  background: transparent;
}

.links, 
.profileContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.links ul, 
.profileContainer ul{
  display: flex;
  align-items: center;
}


.profile{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #6c757d;
  border-radius: 50%;
}